
body{
font-family:Arial;
margin:0;
background-color:#FFB6C1;
}
header{
backround:black;
color:white;
text-align:center;
padiing:20px;
}
nav{
background:#cc0000;
text-align:center;
padding;12px;
}
nav a{
color:white;
margin:15px;
font-weight:bold;
}
nav a:hover{
color:yellow;
}
main{
padding:20px;
}
section{
background:#4B0082;
padding:15px;
margin-bottom:15px;
}
article{
margin-top:10px;
}
aside{
background:#ddd
padding:15px;
}
footer{
background:#191970;
color:white;
text-align:center;
padding:10px;
}
img{
width:300px;
border-radius:10px;
}
section{
color:white;
text-align:center;
}
aside{
position:fixed;
right:20px;
top:150px;
}
aside img{
width:400px;
border-radius:10px;
}

